body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    margin: 0 auto;
    border-bottom: .1rem solid gray;
    width: 70%;
}

.box {
    Margin: 0 auto;
    display: flex;
    justify-content: center;    
}

h1 {
    font-weight: 500;
}

.accordion {
    width: 70%;
}

.accordion-dropdown {
    opacity: 0;
    transform: rotate(90deg);
    transition: all .2s;
}

.accordion-item-box {
    border-bottom: 0.1rem solid grey;
}

.accordion-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: steelblue;
    transition: all .2s;
  }

.accordion-item:hover {
    color: black;
    transition: all .2s;
}

.bayan-section:hover .accordion-dropdown {
    opacity: 1;
    transition: all .2s;
}

.accordion-item label {
width: 100%;
display: flex;
justify-content: space-between;
padding: 1rem;
cursor: pointer;
font-weight: normal;
transition: background-color 0.2s ease-out;
}

.accordion-item .accordion-content {
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
}

.accordion-item input:checked ~ .accordion-content {
max-height: 500px;
transition: max-height 0.2s ease-in;
}

.accordion-item input:checked ~ label {
font-weight: bold;
}

.accordion-item input:not(:checked) ~ .accordion-content {
max-height: 0;
}

.accordion-item input:checked + label .accordion-dropdown {
    transform: rotate(270deg);
  }
